.box-invalid {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    margin-inline: 10px;
    padding-bottom: 10px;
    position: relative;
    display: none;
    flex-direction: column;
    background-color: var(--white);
    gap: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transform: translateY(-20px);
    opacity: 0;
}

.box-invalid .result-invalid {
    list-style: none;
    padding-left: 10px;
    background: var(--white);
    border: none;
    outline: none;
    pointer-events: none;
}

.box-invalid .result-invalid:nth-child(1) {
    background-color: var(--error);
    padding: 10px;
    margin-bottom: 5px;
    color: var(--white);
    font-size: 18px;
    border-radius: 10px 10px 0 0;
}

.box-invalid .result-invalid:nth-child(1)::placeholder {
    color: var(--white);
}

.box-result .result-invalid::placeholder {
    color: var(--black);
}

#close-result-invalid {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 0 10px 0 0;
    background-color: transparent;
    top: 0;
    right: 0;
    z-index: 1;
    color: var(--white);
    align-content: center;
    text-align: center;
    cursor: pointer;
    animation: scaleIn .5s forwards;
    animation-delay: .5s;
}